html{
    margin-top:
}
* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

/* Style the tab */
.tab {
  float: left;
  
  background-color: #f1f1f1;
  width: 18%;
  height: 568px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 10px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  height: 50px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #fa744f;
  color:#f79071;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ff6600;
}

/* Style the tab content */
.Hradmin tabcontent {
  float: left;
  padding: 0px 12px;
  border: 2px solid #ccc;
  width: 75%;
  border-left: none;
  height: 500px;
}
.table-hover{
  border: 2px solid #ccc;
  padding-top: 2px;

}
a:link{
  text-decoration: none;
}
      table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid rgb(7, 7, 7);
}

th, td {
  text-align: center;
  padding: 16px;
  font-size: 20px;
}

th:first-child, td:first-child {
  text-align: left;
}


th{
  font-size:15px;
  padding:.50rem;
}
td{
  font-size: 15px;
  }
